@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #00050d;
  color: #fff;
}
.header {
  background-color: #00050d;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.left-h {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  width: 100%;
  height: 100%;
}
.left-h img {
  margin-top: 7px;
  cursor: pointer;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-item p {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  transition: 0.5s;
}
.nav-item p:hover {
  background-color: #fff;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}

.line {
  width: 2px;
  height: 25px;
  background: #ffffffa8;
}
.subscribtion {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 1px 1px 1px 3px;
}
.subscribtion:hover {
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}
.subscribtion p {
  font-size: 1.1rem;
}
.subscribtion i {
  font-size: 1.5rem;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.search:hover {
  background-color: #fff;
  border-radius: 50px;
}
.search i {
  color: #fff;
  font-size: 1.5rem;
}
.search i:hover {
  color: #000;
}
.right-h {
  display: flex;
  align-items: center;
  gap: 25px;
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}
.language:hover {
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}
.category {
  font-size: 1.3rem;
  padding: 10px;
}

.user i {
  font-size: 2rem;
  color: rgb(207, 207, 240);
}
.join {
  background-color: #1a98ff;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  font-size: 1rem;
  color: #fff;
}
/*  first section */
.first-section {
  height: 70vh;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}
.left-f {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 70px 0 80px 30px;
}
.left-f h1 {
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 600;
}
.left-f span {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.sing {
  padding: 21px 16px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  font-weight: 550;
  color: #303030;
  cursor: pointer;
}

/*  Second section */
.second-section {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}
.left-s {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 40px;
  padding: 100px 0 120px 80px;
}
.left-s h1 {
  font-size: 50px;
  font-weight: 600;
}
.left-s span {
  font-size: 20px;
  font-weight: 600;
}

/* third-section */
.third-section {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 80px;
}
.left-t {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.left-t h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}
.left-t span {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.right-t {
  width: 100%;
  height: 100%;
}
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.grid-section img {
  width: 180px;
  border-radius: 15px;
  margin: 1px;
}
.grid-section img:hover {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
}
/*====================== Footer section=============== */
.footer {
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #222222;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.links p {
  font-size: 16px;
  color: #79b8f3;
  cursor: pointer;
  font-weight: 500;
}
.links p:hover {
  color: #a5cdf3;
}
.footer-text {
  color: #8197a4;
  font-size: 16px;
}
